<p><%= @guest.email_safe_salutation %></p>

<% if @guest.attending %>
<p>Estamos muy contentos que asistas a la fiesta!</p>
<p>La direccion es:</p>
<address><%= render partial: 'application/wedding_address' %></address>
<address><%= render partial: 'application/party_address' %></address>

<h3>Tu RSVP</h3>
<p>Si queres cambiar algo de tu RSVP podes hacerlo ingresando a:</p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>

<h3>Preguntas</h3>
<p>Por favor, checkea <%= link_to 'nuestro sitio web', root_url %> para mas informacion o contactanos a este mail!.</p>
<% else %>
<p>Que lastima que no puedas venir! En caso de cambiar la decision:</p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>
<p>Muchas gracias!</p>
<% end %>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
