<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'guests/leader' %>
      <%= render partial: 'guests/rsvp_nav', locals: { active: 2 } %>

      <h2>Acompañante</h2>
      <p>Por favor indicanos si traes algun acompañante.
      <p>&nbsp;</p>

      <% if @plus_ones.any? %>
        <%= render @plus_ones %>
      <% else %>
        <p>No se agregó acompañante.</p>
      <% end %>
      <% if @plus_ones.count == 0 || ["gonzalez", "azar", "romero", "brombini", "romero victorica", "victorica", "lopez", "lopez arias", "barrera", "fernandez", "bordenave"].include?(I18n.transliterate(@guest.last_name).downcase) %>
      <p>
    <%= link_to 'Agregar acompañante', new_guest_plus_one_path(@guest), class: 'btn btn-primary', data: { disable_with: 'Loading...' } %>
</p>
<% end %>

      <p>&nbsp;</p>
      <p class="guests-buttons">
        <%= link_to 'Continuar', confirm_guest_path(@guest), class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
</div>
